<mat-list>
    <a (click)="openNewListItem()">
        <h1>+</h1>
    </a>

    <mat-list-item *ngIf="newPropertyConditon">
        <mat-icon (click)="newPropertyConditon=undefined">close</mat-icon>
        <mat-form-field appearance="legacy">
            <input matInput placeholder="new condition" #newCondition>
        </mat-form-field>
        <button (click)="addPropertyCondition(newCondition.value)">save</button>
    </mat-list-item>

    <mat-list-item *ngFor="let condition of propertyConditionsList|async">
        <mat-icon (click)="deletePropertyCondition(condition.id)">delete</mat-icon>
        <mat-form-field appearance="legacy">
            <input matInput value="{{condition.condition}}" #input>
        </mat-form-field>
        <button (click)="saveChanges(condition, input.value)">save</button>
    </mat-list-item>
</mat-list>