<mat-sidenav-container style="height: calc(100vh - 20px)">
  <mat-card
    class="card-img"
    *ngIf="currentHousingUnit && currentHousingUnit.images"
  >
    <mat-card-content class="container">
      <div class="mySlides active">
        <div class="numbertext"></div>
        <img [src]="imageToShow" style="width: 100%; height: 50vh" />
      </div>

      <!-- Next and previous buttons -->
      <a class="prev" (click)="prev()"><mat-icon>navigate_before</mat-icon> </a>
      <a class="next" (click)="next()"><mat-icon>navigate_next</mat-icon> </a>

      <!-- Thumbnail images -->
      <div class="flex-container">
        <div class="flex-item" *ngFor="let image of currentHousingUnit.images">
          <img
            [ngClass]="{ active: image == imageToShow }"
            class="demo cursor"
            [src]="image"
            style="width: 100%; height: 11vh"
            (click)="currentSlide(image)"
          />
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <!--housing unit details -->
  <mat-card
    class="card-housing-unit"
    *ngIf="currentHousingUnit && currentHousingUnit.housingUnit"
  >
    <mat-card-content>
      <button
        style="padding-right: 4vw"
        *ngIf="favorite"
        mat-icon-button
        color="warn"
        (click)="removeFavorite()"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        style="padding-right: 4vw"
        *ngIf="!favorite"
        mat-icon-button
        color="warn"
        (click)="addFavorite()"
      >
        <mat-icon>favorite_border</mat-icon>
      </button>
      <div class="p-2 w-100 bd-highlight">
        <h3>יחידה להשכרה</h3>
        <div class="d-flex justify-content-between" style="width: 95%">
          <div>
            <h1 class="m-0">{{ currentHousingUnit.housingUnit.address }}</h1>
            <h3>{{ currentHousingUnit.housingUnit.address }}</h3>
          </div>
          <div>
            <h1 class="m-0">
              {{ currentHousingUnit.housingUnit.price | number: "1.0-2" }} ₪
              <span style="font-size: 17px; color: #645757">לחודש</span>
            </h1>
            <h3>
              {{
                currentHousingUnit.housingUnit.publishDate | date: "dd/MM/yyyy"
              }}
            </h3>
          </div>
        </div>
        <div class="flex-q-f" style="padding: 0">
          <div class="card-details">
            <div class="card-header">
              <span class="text-bottom"
                >{{ currentHousingUnit.housingUnit.area }} מ"ר</span
              >
              <span class="text-bottom"
                >{{ currentHousingUnit.housingUnit.roomsNum }} חדרים</span
              >
              <span class="text-bottom"
                >קומה {{ currentHousingUnit.housingUnit.floor }}
                <span *ngIf="currentHousingUnit.housingUnit.floorsBuilding">
                  מתוך {{ currentHousingUnit.housingUnit.floorsBuilding }}
                </span></span
              >
            </div>
            <p class="p-3">
              <b>תיאור היחידה: </b>
              {{ currentHousingUnit.housingUnit.description }}
            </p>
            <mat-list>
              <mat-list-item class="divider">                
                <p>תאריך כניסה:</p>
                <p>
                  <b>{{ currentHousingUnit.housingUnit.roomsNum }}</b>
                </p></mat-list-item>
              <mat-list-item class="divider">
                <p>מצב נכס:</p>
                <p>
                  <b>{{ currentHousingUnit.housingUnit.propertyCondition }}</b>
                </p>
              </mat-list-item>
              <mat-list-item class="divider">                
                <p>ועד בית לחודש:</p>
                <p>
                  <b>{{ currentHousingUnit.housingUnit.committeeHome }}</b>
                </p></mat-list-item>
            </mat-list>
            <div class="checkboxes" id="Extras">
              <!--חנייה-->
              <span
                class="ml-1"
                [ngClass]="{ gray: !currentHousingUnit.housingUnit.parking }"
                ><mat-icon> local_parking</mat-icon>חנייה</span
              >
              <!--ממ"ד-->
              <span
                class="ml-1"
                [ngClass]="{
                  gray: !currentHousingUnit.housingUnit.securityRoom
                }"
                ><mat-icon>security</mat-icon>ממ"ד</span
              >
              <!--גישה לנכים-->
              <span
                class="ml-1"
                [ngClass]="{
                  gray: !currentHousingUnit.housingUnit.accessForDisabled
                }"
                ><mat-icon>accessible</mat-icon>גישה לנכים</span
              >
              <!--מעלית-->
              <span
                class="ml-1"
                [ngClass]="{ gray: !currentHousingUnit.housingUnit.elevator }"
                ><span class="material-icons">elevator</span>מעלית</span
              >
              <!--מרפסת-->
              <span
                class="ml-1"
                [ngClass]="{ gray: !currentHousingUnit.housingUnit.terrace }"
                ><span class="material-icons">balcony</span>מרפסת</span
              >
              <!--דוד שמש-->
              <span
                class="ml-1"
                [ngClass]="{
                  gray: !currentHousingUnit.housingUnit.solarHeater
                }"
                ><mat-icon>wb_sunny</mat-icon>דוד שמש</span
              >
              <!--מיזוג אוויר-->
              <span
                class="ml-1"
                [ngClass]="{
                  gray: !currentHousingUnit.housingUnit.airConditioning
                }"
                ><mat-icon>ac_unit</mat-icon>מיזוג אוויר</span
              >
              <!--דלתות פנדור-->
              <span
                class="ml-1"
                [ngClass]="{
                  gray: !currentHousingUnit.housingUnit.pandorDoors
                }"
                ><span class="material-icons">sensor_door</span>דלתות
                פנדור</span
              >
              <!--בעלי חיים-->
              <span
                class="ml-1"
                [ngClass]="{ gray: !currentHousingUnit.housingUnit.animal }"
                ><span class="material-icons">child_care</span>בע"ח</span
              >
              <!--סורגים-->
              <span
                class="ml-1"
                [ngClass]="{ gray: !currentHousingUnit.housingUnit.bars }"
                ><span class="material-icons">border_all</span>סורגים</span
              >
              <!--מטבח כשר-->
              <span
                class="ml-1"
                [ngClass]="{
                  gray: !currentHousingUnit.housingUnit.kosherKitchen
                }"
                ><span class="material-icons">kitchen</span>מטבח כשר</span
              >
              <!--לטווח ארוך-->
              <span
                class="ml-1"
                [ngClass]="{ gray: !currentHousingUnit.housingUnit.longTerm }"
                ><mat-icon>indeterminate_check_box</mat-icon>לטווח ארוך</span
              >
              <!--מחסן-->
              <span
                class="ml-1"
                [ngClass]="{ gray: !currentHousingUnit.housingUnit.warehouse }"
                ><mat-icon>warehouse</mat-icon>מחסן</span
              >
              <!--לשותפים-->
              <span
                class="ml-1"
                [ngClass]="{ gray: !currentHousingUnit.housingUnit.partners }"
                ><mat-icon>people</mat-icon> לשותפים</span
              >
            </div>
          </div>

          <mat-card class="card-phon" *ngIf="unitOwner">
            <p class="fs-5" style="color: gray">מפרסם/ת המודעה</p>
            <p class="fs-5" *ngIf="unitOwner.firstName">
              <b>{{ unitOwner.firstName }}</b>
            </p>
            <button
              class="button-68 mt-3"
              role="button"
              (click)="isActive()"
              [ngClass]="{ hide: hide }"
            >
              <span><mat-icon> phone</mat-icon></span> הצגת מספר טלפון
            </button>

            <div *ngIf="hide" class="pt-3">
              <p class="fs-5">
                <span><mat-icon> stay_current_portrait</mat-icon></span>
                {{ unitOwner.phon1 }}
              </p>
              <p class="fs-5 pt-2" *ngIf="unitOwner.phon2">
                <span><mat-icon> stay_current_portrait</mat-icon></span>
                {{ unitOwner.phon2 }}
              </p>
              <p>
                <a [href]="emailUnitOwner" role="button">
                  שליחת דוא"ל למפרסם
                </a>
              </p>

              <p>
                <a [href]="phonNumber" target="_blank" role="button">
                  שליחת הודעה למפרסם
                </a>
              </p>
            </div>

            <!--    <p><a [href]="emailUnitOwner">Send email</a></p>
            <a [href]="phonNumber" target="_blank">Link Text Here</a>-->
          </mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="flex-q-f">
    <!--feedback-->
    <div class="container-feedback">
      <mat-card class="card-feedback" *ngIf="currentHousingUnit">
        <div class="d-flex pb-3">
          <img style="width: 5vw" src="../../../../assets/icons/feedback.png" />
          <span style="font-size: 4vh; padding: 5% 5% 0 0; font-weight: 600">
            משוב מלקוחות על היחידה ({{ feedbacks.length }})</span
          >
        </div>
        <div *ngIf="feedbacks.length > 0; else noFeedback">
          <div
            *ngFor="let feedback of feedbacks; let i = index"
            [attr.data-index]="i"
          >
            <div
              class="feedback"
              *ngIf="customersFeedback && customersFeedback[i]"
            >
              <h3 *ngIf="customersFeedback[i].firstName">
                <b>משוב </b>מאת {{ customersFeedback[i].firstName }} בתאריך
                {{ feedback.date | date: "dd/MM/yyyy" }}
              </h3>
              <h2 style="font-style: italic">"{{ feedback.description }}"</h2>
            </div>
          </div>
        </div>
        <ng-template #noFeedback>
          <h1 style="padding-right: 30%">אין משוב להצגה</h1>
        </ng-template>
        <form #feedbackForm="ngForm">
          <div class="input-group mb-3">
            <input
              [(ngModel)]="newFeedback.description"
              type="text"
              id="description"
              class="form-control"
              placeholder="כאן אפשר לכתוב משוב על יחידת דיור זו"
              required
              minlength="3"
              name="desc"
            />
            <button
              mat-raised-button
              style="background: #ffbc53"
              id="button-addon1"
              [disabled]="!feedbackForm.valid"
              (click)="addFeedback(newFeedback.description)"
            >
              שלח משוב
            </button>
          </div>
        </form>
      </mat-card>
    </div>
    <!--question and answer-->
    <div class="container-question">
      <mat-card class="card-question" *ngIf="currentHousingUnit">
        <div class="d-flex pb-3">
          <img
            style="width: 5vw"
            src="../../../../assets/icons/questionAnswer.png"
          />
          <span style="font-size: 4vh; padding: 5% 5% 0 0; font-weight: 600"
            >שאלות ותשובות ללקוחות ({{ questions.length }})</span
          >
        </div>
        <div *ngIf="questions.length > 0; else noQuestions">
          <div
            *ngFor="let question of questions; let i = index"
            [attr.data-index]="i"
          >
            <h1><b>ש. </b>{{ question.description }}</h1>
            <p *ngFor="let answer of answers[i]">
              <b>ת. </b> {{ answer.description }}
            </p>
            <!--<mat-divider style="width: 70%; right: 0"></mat-divider>-->
          </div>
        </div>
        <ng-template #noQuestions>
          <h1 style="padding-right: 30%">אין שאלות להצגה</h1>
        </ng-template>
        <form #questionForm="ngForm">
          <div class="input-group mb-3">
            <input
              [(ngModel)]="newQuestion.description"
              type="text"
              id="description"
              class="form-control"
              minlength="3"
              required
              name="desc"
              placeholder="כאן אפשר לכתוב שאלה למשכיר היחידה"
            />
            <button
              mat-raised-button
              type="submit"
              style="background: #ffbc53"
              id="button-addon1"
              [disabled]="!questionForm.valid"
              (click)="addQuestion(newQuestion.description)"
            >
              שלח שאלה
            </button>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</mat-sidenav-container>
