body,
html {
  direction: rtl;
  font-family: system-ui,
    -apple-system,
    system-ui,
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
}

mat-card {
  margin: 1em auto;
  /* text-align: center; */
  font-family: system-ui,
    -apple-system,
    system-ui,
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
}

mat-icon {
  font-size: 40px;
}



span mat-icon {
  font-size: 20px;
}

.w-60 {
  width: 60%;
}

.text-bottom {
  border-left-style: ridge;
  padding: 0 12px 0 14px;
  font-size: 16px;
  color: #182850;
  font-weight: 600;
  align-items: center;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: green;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #b9b9b9ab;
}

.container {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}


/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}


/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.divider {
  border-bottom-color: rgba(0, 0, 0, .12);
  border-bottom-style: solid;
  display: inline-flex;
}

mat-list-item {
  width: 16px;
}

mat-list-item p {
  display: inline-block;
  width: 100px;
  color: #999;
  margin: 0;
}


/* CSS */
.button-68 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-68:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-68:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-68:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.hide {
  display: none
}

.gray {
  color: #bfbfbf;
}

.ml-1 {
  margin-left: 10px;
  display: inline-flex;
  font-weight: 600;
}

.card-img {
  width: 50%;
  padding: 0;
}

.card-housing-unit {
  width: 80%
}

.card-phon {
  width: 21vw;
  height: 17em;
  text-align: center
}

.card-details {
  width: 44vw
}

.card-feedback,
.card-question {
  min-width: 100%
}

.flex-q-f {
  padding: 0 10%;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.container-feedback {
  width: 45%;
}

.container-question {
  width: 50%;
}

.feedback::before {
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 14px solid #cdcdcd;
  content: " ";
  height: 0;
  position: absolute;
  width: 0;
  right: -14px;
  top: 9px;
}

.feedback {
  background: #cdcccc;
  border: 1px solid #c1c1c1;
  border-radius: 8px;
  position: relative;
  margin-bottom: 5%;
  padding-right: 4%;
}

@media only screen and (max-width: 800px) {

  .container-feedback,
  .container-question,
  .card-phon,
  .card-details {
    width: 88vw;
  }

  .flex-q-f {
    display: inline;
  }

  .card-housing-unit
    {
    width: 100%;
  }

  .card-img {
    width: 80vw
  }
}
