<mat-sidenav-container style="height: calc(100vh - 20px)">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="login()">
        <h2>כניסה</h2>
        <mat-error *ngIf="loginInvalid">
          כתובת אימייל והסיסמה אינם תואמים
        </mat-error>
        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>אימייל</mat-label>
          <input
            matInput
            placeholder="email@example.com"
            formControlName="email"
            required
          />
          <mat-error
            *ngIf="
              form.controls.email.errors && form.controls.email.errors.required
            "
          >
            זהו שדה חובה!
          </mat-error>
          <mat-error
            *ngIf="
              form.controls.email.errors && form.controls.email.errors.email
            "
          >
            יש לציין כתובת דואר אלקטרוני חוקית.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>סיסמא</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            required
            [type]="hide ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error
            *ngIf="
              form.controls.password.errors &&
              form.controls.password.errors.required
            "
          >
            זהו שדה חובה!
          </mat-error>
          <mat-error
            *ngIf="
              form.controls.password.errors &&
              form.controls.password.errors.pattern
            "
          >
            יש לציין סיסמא חוקית, סיסמא חייבת להכיל אות אחת וספרה אחת ולפחות 8
            תווים.
          </mat-error>        </mat-form-field>

        <button mat-raised-button color="primary">הכנס</button>
        <p class="m-2">אין לך חשבון? <a link href="register">צור חשבון</a></p>
      </form>
    </mat-card-content>
  </mat-card>
</mat-sidenav-container>
