<p>personal-area works!</p>
<span>שלום <b></b> יש לך <b></b> מודעות פעילות</span>
<mat-sidenav-container style="height: calc(100vh - 20px)">
  <mat-card>
    <mat-card-content>
      <button
        mat-raised-button
        color="primary"
        routerLink="/customer/customer-info"
      >
        עדכון פרטי משתמש</button
      ><br />
      <button mat-raised-button color="primary" routerLink="/customer/list">
        עדכון ועריכת מודעות</button
      ><br />
      <button mat-raised-button color="primary" routerLink="/customer/publish">
        פרסום מודעה חדשה</button
      ><br />
    </mat-card-content>
  </mat-card>
</mat-sidenav-container>
