body {
  font-family: system-ui,
    -apple-system,
    system-ui,
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
}

.main-title {
  font-size: 5vw;
  line-height: 2em;
  letter-spacing: -2px;
  font-weight: bold;
  color: rgb(40, 49, 73);
  font-family: system-ui,
    -apple-system,
    system-ui,
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  margin-top: 20vw;
}

.input-border-m {
  border-radius: 4px;
  padding: 0px 15px 0px 11px;
  /* border-width: 6px; */
  border-style: outset;
  border-color: rgb(228, 228, 228);
}

mat-sidenav-container {
  background-image: url(../../../../assets/img/home_img_2.png);
  background-repeat: round;
}
